<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <img src="../assets/logo.png" style="width: 5%;" alt="Integrated Data Tool">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" style="padding-left: 20px;"><h3><b>Home</b></h3> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/features" style="padding-left: 20px;"><h3><b> Features</b></h3><span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" style="padding-left: 20px;">
                <a class="nav-link" routerLink="/docs"><h3><b> Docs</b></h3><span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/tool" style="padding-left: 20px;"><h3><b> Tool</b></h3><span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" *ngIf="!usernameValid">
                <a class="nav-link" routerLink="/login" style="padding-left: 20px;">
                    <h3><b>Login</b></h3><span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="padding-left: 20px;">
                    <h3><b>{{usernameValid}}</b></h3><span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item active" *ngIf="usernameValid" (click)="logout()">
                <a class="nav-link" routerLink="/" style="padding-left: 20px;">
                    <h3><b>Logout</b></h3><span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>