<div class="jumbotron">
    <div style="text-align: center;">

        <img src="../assets/logo.png" style="width: 15%;" alt="IDT">

    </div>
    <div class="container">
        <h1 style="text-align: center;">Integrated Data Tool</h1>
        <p style="text-align: center;">A Tool for Data Discovery, Data Profiling & Data Quality Management</p>
        <p style="text-align: center;">
            <a class="btn btn-primary btn-lg" style="margin-right: 20px;" id="gettingStarted" href="/tool">Getting
                Started</a>
            <a class="btn btn-outline-primary btn-lg" href="/docs">Tutorial</a>
        </p>
    </div>
</div>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-sm" style="text-align: justify;">
            <br>
            <h4 style="text-align: left;">Data Discovery</h4>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate at nunc in mollis. Donec sit amet
            justo ex.
            Praesent ante nibh, ultrices vel aliquam vel, mollis ac urna. Maecenas tempus, nisl consequat luctus
            facilisis, dui odio
            egestas metus, sed elementum mi nunc vehicula odio. Curabitur id faucibus sapien. Vestibulum quis porta
            massa. Cras
            scelerisque dui ac felis mollis, eget feugiat ex efficitur. Curabitur rhoncus magna nisl, sed facilisis dui
            tincidunt
            in. In varius in arcu eu bibendum. Proin nec volutpat arcu. Donec luctus pharetra justo sit amet tristique.
            Proin
            dignissim pellentesque magna nec pretium. Cras cursus nibh pellentesque dolor congue rutrum. Suspendisse
            iaculis
            pharetra ipsum vel porttitor.
        </div>
        <div class="col-sm" style="text-align: justify;">
            <br>
            <h4 style="text-align: left;">Data Profiling</h4>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate at nunc in mollis. Donec sit
            amet justo ex.Praesent ante nibh, ultrices vel aliquam vel, mollis ac urna. Maecenas tempus, nisl consequat
            luctus facilisis, dui odio
            egestas metus, sed elementum mi nunc vehicula odio. Curabitur id faucibus sapien. Vestibulum quis porta
            massa. Cras
            scelerisque dui ac felis mollis, eget feugiat ex efficitur. Curabitur rhoncus magna nisl, sed facilisis dui
            tincidunt
            in. In varius in arcueu bibendum. Proin nec volutpat arcu. Donec luctus pharetra justo sit amet tristique.
            Proin
            dignissim pellentesque magna nec pretium. Cras cursus nibh pellentesque dolor congue rutrum. Suspendisse
            iaculis
            pharetra ipsum vel porttitor.
        </div>
        <div class="col-sm" style="text-align: justify;">
            <br>
            <h4 style="text-align: left;">Data Quality Management</h4>
            <br>
            One of three columnsLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate at nunc
            in mollis. Donec sitamet justo ex.Praesent ante nibh, ultrices vel aliquam vel, mollis ac urna. Maecenas
            tempus, nisl consequat luctus facilisis, dui odio
            egestas metus, sed elementum mi nunc vehicula odio. Curabitur id faucibus sapien. Vestibulum quis porta
            massa. Cras
            scelerisque dui ac felis mollis, eget feugiat ex efficitur. Curabitur rhoncus magna nisl, sed facilisis dui
            tincidunt
            in. In varius in arcu eu bibendum. Proin nec volutpat arcu. Donec luctus pharetra justo sit amet tristique.
            Proin
            dignissim pellentesque magna nec pretium. Cras cursus nibh pellentesque dolor congue rutrum. Suspendisse
            iaculis
            pharetra ipsum vel porttitor.
        </div>
    </div>
</div>
<br>
<br>
<hr style="width: 75%;">

<footer>

    <div class="jumbotron">
        <div class="container">

            <div class="row" style="text-align: center;">
                <div class="col-sm-3">
                    Hello
                </div>
                <div class="col-sm-3">
                    Hello
                </div>
                <div class="col-sm-3">
                    Hello
                </div>
                <div class="col-sm-3">
                    Hello
                </div>
            </div>

        </div>
    </div>
</footer>